<!DOCTYPE html>
<html>
<head>
  <title>Octocycle</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />

</head>
<body>
  <!--  <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p>
 -->

   <!-- <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p> -->
   <div id="container">
      <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String) %>
      <%- end -%>

   <p><%= link_to 'Home', root_path %></p>
   </div>
      
      <% if user_signed_in? -%>
   <div id="user_login_box" >
   <p>Hello,   <%= current_user.email %></p> |
      <%= link_to 'My info', edit_user_registration_path %> |
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <%end%>
          
<%= yield %>

</body>
</html>
